@charset "UTF-8";


.carousel-container {
	position: relative;
	width: 99%; /* 전체 캐러셀 크기 */
	margin: auto;
	height: 270px;
    white-space: nowrap;
}

.carousel {
	display: flex;
	width:98%;
	height:250px;
	gap: 10px;
	transition: transform 0.3s ease-in-out;
	white-space: nowrap; /* 가로 스크롤 허용 */
}

.carousel img {
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 8px;
}

.carousel-item {
	width: 180px;
	height: 230px;
	flex: none;
	text-align: center;
}



/* 캐러셀 버튼 스타일 */
.btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ffffff; /* 흰색 배경 */
	color: #000000; /* 검은색 화살표 */
	border: 1px solid #ddd; /* 연한 회색 테두리 */
	padding: 10px 15px;
	cursor: pointer;
	font-size: 20px;
	border-radius: 50%; /* 원형 버튼 */
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: background-color 0.2s ease-in-out;
	z-index: 10;
}

.btn-left {
	left: 10px;
}

.btn-right {
	right: 10px;
}

.btn:hover {
	background-color: #f0f0f0; /* 호버 시 연한 회색 */
}